#@data/values
---
project:
  name: pos
ci:
  privateKey: |
    -----BEGIN TRUC PRIVATE KEY-----

    -----END TRUC PRIVATE KEY-----
  qubeToken: ""
  robotPassword: ""
  robotUsername: ""
  clusterUrl: ""
  clusterCa: |
    -----BEGIN TRUC-----
    -----END TRUC-----
  token: ""
  helmServer: ""
  label:
    - api-pos
    - client-pos
  env:
    - dev
    - prod
