.coverPage {
  height: 100vh;
  background-color: $color-bgCover;
  color: $color-textCover;
  display: flex;
  flex-direction: column;
}
.coverPageContent > .txt-rotate-wrapper {
  display: flex;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.coverMedia {
  display: flex;
}
.ico-cover {
  font-size: 38px;
  color: $color-textCover;
  border-radius: 50%;
  border: 1px solid $color-textCover;
  padding: 5px;
  margin: 5px;
}
.ico-next-content {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  font-size: 30px;
}
