.coverPage {
  height: 100vh;
  background-color: $color-bgCover;
  color: $color-textCover;
  display: flex;
}
.coverPageContent > .txt-rotate-wrapper {
  display: flex;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.coverMedia {
  display: flex;
}
.ico-cover {
  font-size: 38px;
  color: $color-textCover;
  border-radius: 50%;
  border: 1px solid $color-textCover;
  padding: 5px;
  margin: 5px;
}
