[class^="ico-"],
[class*=" ico-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.ico-cover {
  font-size: 32px;
  color: black;
}
