@tailwind base;
@tailwind components;
@tailwind utilities;

.coverPage {
  height: 100vh;
  background-color: #1b203a;
  color: #f2f4f3;
  display: flex;
}
.coverPageContent > .txt-rotate-wrapper {
  display: flex;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.PageTittle {
}
