.DeskNavBar {
  background-color: $color-bgCover;
  color: $color-textCover;
  height: 100vh;
}

@media (max-height: 590px) {
  .DeskNavBar {
    overflow: scroll;
  }
}

.DeskNavBarIcon {
  font-size: 40px;
  color: $color-textCover;
}

.MainContent {
  width: 100%;
}

@media (min-width: $md) {
  .content {
    margin-top: -100vh;
  }
}

.MobileNavBarIcon {
  font-size: 32px;
}
.MobileNavBarWrapper {
  color: $color-textCover;
  border-radius: 10px;
  text-align: center;
  background-color: $color-bgCover;
  padding: 5px;
  font-size: 10px;
}

.MobileNavBar {
  position: fixed;
  bottom: $margin;
  right: $margin;
  .burgerIcon {
    border-radius: 10px;
    text-align: center;
    font-size: 45px;
    background-color: $color-bgCover;
    padding: 5px;
    color: $color-textCover;
  }
}

.MobileNavBarVertical {
  justify-content: center;
  position: fixed;
  right: $outPosition;
  top: $margin;
  height: $size;
}
.MobileNavBarHorizontal {
  justify-content: center;
  position: fixed;
  bottom: $outPosition;
  width: $size;
  margin-left: $margin;
}

.fadeIn {
  .MobileNavBarVertical {
    animation: slideInVertical $anime-timer linear 1;
    right: $inPosition;
  }
  .MobileNavBarHorizontal {
    animation: slideInHorizontal $anime-timer linear 1;
    bottom: $inPosition;
  }
  .MobileNavBar {
    animation: spinIn $anime-timerBurger linear 1;
  }
}

.fadeOut {
  .MobileNavBarVertical {
    animation: slideOutVertical $anime-timer linear 1;
  }
  .MobileNavBarHorizontal {
    animation: slideOutHorizontal $anime-timer linear 1;
  }
  .MobileNavBar {
    animation: spinOut $anime-timerBurger linear 1;
  }
}

@keyframes slideInVertical {
  from {
    right: $outPosition;
  }

  to {
    right: $inPosition;
  }
}
@keyframes slideInHorizontal {
  from {
    bottom: $outPosition;
  }

  to {
    bottom: $inPosition;
  }
}

@keyframes slideOutVertical {
  from {
    right: $inPosition;
  }

  to {
    right: $outPosition;
  }
}
@keyframes slideOutHorizontal {
  from {
    bottom: $inPosition;
  }

  to {
    bottom: $outPosition;
  }
}

@keyframes spinOut {
  from {
    transform: rotate($spinOutDeg);
  }

  to {
    transform: rotate($spinInDeg);
  }
}
@keyframes spinIn {
  from {
    transform: rotate($spinInDeg);
  }

  to {
    transform: rotate($spinOutDeg);
  }
}
