.DeskNavBar {
  background-color: $color-bgCover;
  color: $color-textCover;
  height: 100vh;
}

.MobileNavBar {
  background-color: $color-bgCover;
}

.DeskNavBarIcon {
  font-size: 40px;
  color: $color-textCover;
}

.MainContent {
  width: 100%;
}

@media (min-width: $md) {
  .content {
    margin-top: -100vh;
  }
}
