.DeskNavBar {
  background-color: $color-bgCover;
  color: $color-textCover;
  height: 100vh;
}

.DeskNavBarIcon {
  font-size: 40px;
  color: $color-textCover;
}

.MainContent {
  width: 100%;
}

@media (min-width: $md) {
  .content {
    margin-top: -100vh;
  }
}

.MobileNavBarIcon {
  font-size: 32px;
}
.MobileNavBarWrapper {
  color: $color-textCover;
  border-radius: 10px;
  text-align: center;
  background-color: $color-bgCover;
  padding: 5px;
  font-size: 10px;
}

.MobileNavBar {
  position: fixed;
  bottom: 5%;
  right: 5%;
  .burgerIcon {
    border-radius: 10px;
    text-align: center;
    font-size: 45px;
    background-color: $color-bgCover;
    padding: 5px;
    color: $color-textCover;
  }
}
.MobileNavBarVertical {
  justify-content: center;
  position: fixed;
  right: 3%;
  top: 5%;
  height: 80%;
}
.MobileNavBarHorizontal {
  justify-content: center;
  position: fixed;
  bottom: 3%;
  width: 80%;
  margin-left: 5%;
}
