// Color

$color-bgCover: #1b203a;
$color-bgCoverTransparent: #1b203a8a;
$color-bgCoverLighter: #21284d ;
$color-textCover: #f2f4f3;
$color-textCoverDarker: #b5bdb9;

// Breakpoint

$md: 768px;

// Nav position
$anime-timer: 0.3s;
$anime-timerBurger: 0.3s;
$spinInDeg: 180deg;
$spinOutDeg: 0deg;

$inPosition: 3%;
$outPosition: -50%;

$margin: 5%;
$size: 80%;
